PORT=3000

MONGODB_URI=mongodb://localhost:27017/dadosinfra?replicaSet=rs0&directConnection=true

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=documents

MINIO_ROOT_USER=your_minio_access_key
MINIO_ROOT_PASSWORD=your_minio_secret_key

JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=8h
